<template>
<div class="row justify-content-center">
    <div class="col col-4" v-if="!searchComplete">
        <form class="form-inline" @submit="searchTime(booking)">
            <div class="form-group mb-2 mx-sm-3">
                <div class="input-group date" id="date_picker">
                    <datepicker v-model="booking.appointment_date" ref="customDatepicker" :disabled-dates="disabledDates" :format="customFormatter" input-class="input form-control"></datepicker>
                    <span class="input-group-addon" @click="openPicker">
                        <i class="glyphicon glyphicon-calendar"></i> 
                    </span>
                </div>
            </div>
            <button :disabled="!isValid" class="btn btn-primary mb-2" @click.prevent="searchTime(booking)">Search</button>
        </form>
    </div>
    <div class="col col-4" v-else>
        <form @submit="saveDate(booking)">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email:</label> 
                <div class="col-sm-9">
                    <input type="email" v-model="booking.email" class="form-control">
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-3 pt-0">Hours for {{ simpleDate }}:</label>
                    <div class="col-sm-9">
                        <div class="form-check text-left" v-for="item in processedItems">
                            <input class="form-check-input" type="radio" name="hour" v-model="booking.appointment_time" v-bind:value="item.hour" :disabled="item.disabled">
                            <label class="form-check-label " style="margin-left: 20px !important;">{{ item.hour }} {{ item.taken_by }}</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col text-right">
                    <button type="button" class="btn btn-danger" v-on:click="back()">Cancel</button>
                    <button type="submit" class="btn btn-primary" @click.prevent="saveDate(booking)">Send</button>
                </div>
            </div>
        </form>
        <p v-if="errors.length" class="text-left">
            <b>The following errors have occurred:</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
    </div>
</div>
</template>

<script>

export default {
    name: "DateSelector",
    data() {
        return {
            disabledDates: {
                days: [6, 0], // Disable Saturday's and Sunday's
            },
            simpleDate: '', 
            searchComplete: false, 
            booking: {
                email: '',
                appointment_date: '',
                appoinment_time: '',
            },
            hours: [
                { hour: '09', disabled: false, taken_by: '' },
                { hour: '10', disabled: false, taken_by: '' },
                { hour: '11', disabled: false, taken_by: '' },
                { hour: '12', disabled: false, taken_by: '' },
                { hour: '13', disabled: false, taken_by: '' },
                { hour: '14', disabled: false, taken_by: '' },
                { hour: '15', disabled: false, taken_by: '' },
                { hour: '16', disabled: false, taken_by: '' },
                { hour: '17', disabled: false, taken_by: '' },
                { hour: '18', disabled: false, taken_by: '' }
            ],
            errors: [],
            result: []
        }
    },
    mounted() {
        console.log('Date Selector Component mounted.');
    },
    methods: {
        openPicker() {
          this.$refs.customDatepicker.showCalendar();
        },
        customFormatter(date) {
          return moment(date).format("YYYY-MM-DD");
        },
        searchTime(booking) { 
            this.result = [];

            if (!booking.appointment_date) {
                return false;
            }

            this.simpleDate = this.customFormatter(booking.appointment_date);
            // console.log(this.simpleDate);

            this.$refs.customDatepicker.clearDate();

            // API listado
            axios.get('/api/booking/' + this.simpleDate)
                .then(response => {
                    this.searchComplete = true;
                    this.result = response.data.info;
                }).catch(error => { 
                    console.log(error);
                });
        },
        saveDate(booking) {

            this.errors = [];
            booking.appointment_date = this.simpleDate;


            if (!booking.email) {
                this.errors.push('Email required.');
            }
            else if (!this.validEmail(booking.email)) {
                this.errors.push('A valid email is required.');
            }

            if (!booking.appointment_time) {
                this.errors.push('You must select an hour.');
            }

            if (!this.errors.length) {

                // API creacion de reserva
                axios.post('/api/booking', booking)
                    .then(response => {
                        this.back();
                        alert("Appointment Reserved!");
                    }).catch(error => { 
                        // console.log(error.response); 
                        this.errors.push(error.response.data.error_message);
                    });
            }
        },
        validEmail: function (email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        },
        back() {
            this.result = [];
            this.booking.email = '';
            this.appoinment_time = '';
            this.simpleDate = '';
            this.searchComplete = false;
        }
    },
    computed: {
        isValid()
        {
            return this.booking.appointment_date !== '' || this.booking.appointment_date !== null;
        },
        processedItems()
        {
            let items = this.hours;

            items.map(item => {
                // vacia las variables
                item.disabled = false;
                item.taken_by = '';

                if (this.result.length) {
                    // verifica si esta seleccionada la hora
                    let tempObject = this.result.find(x => x.appointment_time == item.hour);
                    if (tempObject) {
                        item.disabled = true;
                        item.taken_by = 'taken_by ' + tempObject.email;
                        return false;
                    }
                }
            });

            return items;
        }
    }
}
</script>
